[submodule "skill-auditor"]
	path = skill-auditor
	url = https://github.com/amitvijapur/skill-auditor.git
[submodule "orchestrator"]
	path = orchestrator
	url = https://github.com/amitvijapur/orchestrator.git
